label {
    display: block;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
}

::placeholder {
    color: rgb(134, 142, 150);
  }

.formDiv {
    margin: 15px;
}

.formDesign {
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(33 139 224);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;

    cursor: pointer;
}