.singleTodo {
    border: 2px solid rgb(233, 236, 239);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background: yellow; */
}

.btn {
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
    font-size: 20px;
}